<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omnicoder.anichan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DI.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Anichan">
        <activity
            android:name=".UI.Activities.ViewMangaActivity"
            android:parentActivityName=".UI.Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.TestActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.MangaRankingActivity"
            android:exported="false"
            android:parentActivityName=".UI.Activities.MainActivity" />
        <activity
            android:name=".UI.Activities.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.ViewCharacterActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.ViewThemesActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Activities.LoginActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="anichan.page.link"
                    android:scheme="anichan" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activities.ViewAnimeActivity"
            android:exported="true"
            android:theme="@style/Theme.Anichan3" />
        <activity
            android:name=".UI.Activities.SearchActivity"
            android:exported="true"
            android:parentActivityName=".UI.Activities.MainActivity"
            android:theme="@style/Theme.Anichan" />
        <activity
            android:name=".UI.Activities.SeasonActivity"
            android:parentActivityName=".UI.Activities.MainActivity" />
        <activity
            android:name=".UI.Activities.SplashActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".UI.Activities.AnimeRankingActivity"
            android:parentActivityName=".UI.Activities.MainActivity" />
        <activity
            android:name=".UI.Activities.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>